<%= form_with(model: plotsubplot, local: true) do |form| %>
  <% if plotsubplot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plotsubplot.errors.count, "error") %> prohibited this plotsubplot from being saved:</h2>

      <ul>
      <% plotsubplot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :plotsubplot_id %>
    <%= form.text_field :plotsubplot_id %>
  </div>

  <div class="field">
    <%= form.label :plot_id %>
    <%= form.text_field :plot_id %>
  </div>

  <div class="field">
    <%= form.label :subplot_id %>
    <%= form.text_field :subplot_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
