<p id="notice"><%= notice %></p>

<h2 style = "font-family: Helvetica;">Grain Allocations</h2>

<%= paginate @paginated,  left: 3, right: 3, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm"  %>

<!-- The following code was based on a video found on www.driftingruby.com/episodes/importing-and-exporting-csv-data -->

<%= link_to "Export CSV", grain_allocations_url(format: :csv), class: 'btn btn-primary' %>


<%= link_to 'New Grain Allocation', new_grain_allocation_path, class: "btn btn-success" %>



<table>
  <thead>
    <tr>
      <th style = "font-family: Helvetica;">Grain Allocation</th>
      <th style = "font-family: Helvetica;">Grain</th>
      <th style = "font-family: Helvetica;">Plotsubplot</th>
      <th style = "font-family: Helvetica;">Year Observation</th>
      <th style = "font-family: Helvetica;">Percentage 85 DM Grain y</th>
      <th style = "font-family: Helvetica;">Percentage 85 DM Straw y</th>
      <th style = "font-family: Helvetica;">Spec wt</th>
      <th style = "font-family: Helvetica;">Tgw</th>
      <th style = "font-family: Helvetica;">Tillers</th>
      <th style = "font-family: Helvetica;">Grain on Ear</th>
      <th style = "font-family: Helvetica;">Length</th>
      <th style = "font-family: Helvetica;">Percentage Crop s</th>
      <th style = "font-family: Helvetica;">Percentage Prg s</th>
      <th style = "font-family: Helvetica;">Percentage Rc s</th>
      <th style = "font-family: Helvetica;">Percentage Wc s</th>
      <th style = "font-family: Helvetica;">Percentage Tug s</th>
      <th style = "font-family: Helvetica;">Percentage Tw s</th>
      <th style = "font-family: Helvetica;">Percentage Prg a</th>
      <th style = "font-family: Helvetica;">Percentage Wc a</th>
      <th style = "font-family: Helvetica;">Percentage Rc a</th>
      <th style = "font-family: Helvetica;">Percentage Tug a</th>
      <th style = "font-family: Helvetica;">Percentage Tw a</th>
      <th style = "font-family: Helvetica;">pH</th>
      <th style = "font-family: Helvetica;">P</th>
      <th style = "font-family: Helvetica;">K</th>
      <th style = "font-family: Helvetica;">Mg</th>
      <th style = "font-family: Helvetica;">OM</th>
      <th style = "font-family: Helvetica;">Replication</th>
      <th style = "font-family: Helvetica;">Rotation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paginated.each do |grain_allocation| %>
      <tr>
        <td><%= grain_allocation.grain_allocation_id %></td>
        <td><%= grain_allocation.grain_id %></td>
        <td><%= grain_allocation.plotsubplot_id %></td>
        <td><%= grain_allocation.year_observation %></td>
        <td><%= grain_allocation.percentage_85_dm_grain_y %></td>
        <td><%= grain_allocation.percentage_85_dm_straw_y %></td>
        <td><%= grain_allocation.spec_wt %></td>
        <td><%= grain_allocation.tgw %></td>
        <td><%= grain_allocation.tillers %></td>
        <td><%= grain_allocation.grain_on_ear %></td>
        <td><%= grain_allocation.length %></td>
        <td><%= grain_allocation.percentage_crop_s %></td>
        <td><%= grain_allocation.percentage_prg_s %></td>
        <td><%= grain_allocation.percentage_rc_s %></td>
        <td><%= grain_allocation.percentage_wc_s %></td>
        <td><%= grain_allocation.percentage_tug_s %></td>
        <td><%= grain_allocation.percentage_tw_s %></td>
        <td><%= grain_allocation.percentage_prg_a %></td>
        <td><%= grain_allocation.percentage_wc_a %></td>
        <td><%= grain_allocation.percentage_rc_a %></td>
        <td><%= grain_allocation.percentage_tug_a %></td>
        <td><%= grain_allocation.percentage_tw_a %></td>
        <td><%= grain_allocation.ph %></td>
        <td><%= grain_allocation.p %></td>
        <td><%= grain_allocation.k %></td>
        <td><%= grain_allocation.mg %></td>
        <td><%= grain_allocation.om %></td>
        <td><%= grain_allocation.replication %></td>
        <td><%= grain_allocation.rotation %></td>
        <td><%= link_to 'Show', grain_allocation, class: 'btn btn-secondary' %></td>
        <td><%= link_to 'Edit', edit_grain_allocation_path(grain_allocation), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', grain_allocation, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @paginated,  left: 3, right: 3, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm"  %>
<%= link_to 'New Grain Allocation', new_grain_allocation_path, class: "btn btn-success" %>
