<p id="notice"><%= notice %></p>

<p>
  <strong>Grain allocation:</strong>
  <%= @grain_allocation.grain_allocation_id %>
</p>

<p>
  <strong>Grain:</strong>
  <%= @grain_allocation.grain_id %>
</p>

<p>
  <strong>Plotsubplot:</strong>
  <%= @grain_allocation.plotsubplot_id %>
</p>

<p>
  <strong>Year observation:</strong>
  <%= @grain_allocation.year_observation %>
</p>

<p>
  <strong>Percentage 85 dm grain y:</strong>
  <%= @grain_allocation.percentage_85_dm_grain_y %>
</p>

<p>
  <strong>Percentage 85 dm straw y:</strong>
  <%= @grain_allocation.percentage_85_dm_straw_y %>
</p>

<p>
  <strong>Spec wt:</strong>
  <%= @grain_allocation.spec_wt %>
</p>

<p>
  <strong>Tgw:</strong>
  <%= @grain_allocation.tgw %>
</p>

<p>
  <strong>Tillers:</strong>
  <%= @grain_allocation.tillers %>
</p>

<p>
  <strong>Grain on ear:</strong>
  <%= @grain_allocation.grain_on_ear %>
</p>

<p>
  <strong>Length:</strong>
  <%= @grain_allocation.length %>
</p>

<p>
  <strong>Percentage crop s:</strong>
  <%= @grain_allocation.percentage_crop_s %>
</p>

<p>
  <strong>Percentage prg s:</strong>
  <%= @grain_allocation.percentage_prg_s %>
</p>

<p>
  <strong>Percentage rc s:</strong>
  <%= @grain_allocation.percentage_rc_s %>
</p>

<p>
  <strong>Percentage wc s:</strong>
  <%= @grain_allocation.percentage_wc_s %>
</p>

<p>
  <strong>Percentage tug s:</strong>
  <%= @grain_allocation.percentage_tug_s %>
</p>

<p>
  <strong>Percentage tw s:</strong>
  <%= @grain_allocation.percentage_tw_s %>
</p>

<p>
  <strong>Percentage prg a:</strong>
  <%= @grain_allocation.percentage_prg_a %>
</p>

<p>
  <strong>Percentage wc a:</strong>
  <%= @grain_allocation.percentage_wc_a %>
</p>

<p>
  <strong>Percentage rc a:</strong>
  <%= @grain_allocation.percentage_rc_a %>
</p>

<p>
  <strong>Percentage tug a:</strong>
  <%= @grain_allocation.percentage_tug_a %>
</p>

<p>
  <strong>Percentage tw a:</strong>
  <%= @grain_allocation.percentage_tw_a %>
</p>

<p>
  <strong>Ph:</strong>
  <%= @grain_allocation.ph %>
</p>

<p>
  <strong>P:</strong>
  <%= @grain_allocation.p %>
</p>

<p>
  <strong>K:</strong>
  <%= @grain_allocation.k %>
</p>

<p>
  <strong>Mg:</strong>
  <%= @grain_allocation.mg %>
</p>

<p>
  <strong>Om:</strong>
  <%= @grain_allocation.om %>
</p>

<p>
  <strong>Replication:</strong>
  <%= @grain_allocation.replication %>
</p>

<p>
  <strong>Rotation:</strong>
  <%= @grain_allocation.rotation %>
</p>

<%= link_to 'Edit', edit_grain_allocation_path(@grain_allocation) %> |
<%= link_to 'Back', grain_allocations_path %>
