
<h1 style="text-align:center; text-transform: uppercase; font-family:georgia">Q&A</h1>

<br>
<div class="card-group">
<div class="col-sm-4">
<b style="font-family:georgia">GRAINS</b>
<b><p style="font-family:georgia;"> 1. Want to know the average specific weight of grains cultivated in the centre since when the centre started its experiments?</p></b> 
<a href="<%= queries_index_path %>" class="btn btn-dark btn-xs active" role="button" aria-pressed="true" style="font-family:serif;">Click here!</a>
<br>
<b><p style="font-family:georgia"> 2. Want to know the average grain on ear recorded by the centre?</p></b> 
<a href="<%=queries_abf_path%>" class="btn btn-dark btn-xs active" role="button" aria-pressed="true" style="font-family:serif;">Click here!</a>
<br>
<b><p style="font-family:georgia"> 3. Want to know the plots/subplots that had grains on them accross time?</p></b> 
<a href="<%= queries_abb_path %>" class="btn btn-dark btn-xs active" role="button" aria-pressed="true" style="font-family:serif;">Click here!</a>
<br>
<b><p style="font-family:georgia"> 4. Want to know the potassium levels recorded by the centre from plots with grains since the inception of the trials?</p></b> 
<a href="<%= queries_abj_path %>" class="btn btn-dark btn-xs active" role="button" aria-pressed="true" style="font-family:serif;">Click here!</a>
<br>
</div>

   <div class="col-sm-4">
    <b style="font-family:georgia">TUBEROSES</b>
<b><p style="font-family:georgia"> 1. Want to know the potassium levels recorded by the centre from plots with tuberoses?</p></b> 
<a href="<%=  queries_abc_path  %>" class="btn btn-dark btn-xs active" role="button" aria-pressed="true" style="font-family:serif;">Click here!</a>
<br>
 <b><p style="font-family:georgia"> 2. Want to know the historical variation of the dry matter per swede leaf recorded by the centre?</p></b> 
<a href="<%=queries_abg_path%>" class="btn btn-dark btn-xs active" role="button" aria-pressed="true" style="font-family:serif;">Click here!</a>
<br>
<b><p style="font-family:georgia"> 3. Want to know the plots/subplots where tuberoses have been cultivated?</p></b> 
<a href="<%= queries_abn_path %>" class="btn btn-dark btn-xs active" role="button" aria-pressed="true" style="font-family:serif;">Click here!</a>
<br>
</div>
    
 <div class="col-sm-4">
 <b style="font-family:georgia">GRASSES</b>
 <b><p style="font-family:georgia"> 1. Want to know the second maximum digestability value recorded by the centre?</p></b> 
<a href="<%=  queries_abd_path  %>" class="btn btn-dark btn-xs active" role="button" aria-pressed="true" style="font-family:serif;">Click here!</a>
<br>
 <b><p style="font-family:georgia"> 2. Want to know the minimum LUGD values recorded by the centre?</p></b> 
<a href="<%=  queries_abe_path  %>" class="btn btn-dark btn-xs active" role="button" aria-pressed="true" style="font-family:serif;">Click here!</a>
<br>
 <b><p style="font-family:georgia"> 3. Want to know the soil nutrients values recorded by the centre in the plots where grass was grown with red clover?</p></b> 
<a href="<%=  queries_abl_path  %>" class="btn btn-dark btn-xs active" role="button" aria-pressed="true" style="font-family:serif;">Click here!</a>
<br>
<b><p style="font-family:georgia"> 4. Want to know the potassium levels recorded by the centre from plots with grasses?</p></b> 
<a href="<%=  queries_abi_path  %>" class="btn btn-dark btn-xs active" role="button" aria-pressed="true" style="font-family:serif;">Click here!</a>
<br>
   <b><p style="font-family:georgia"> 5. Want to know the first maximum digestability value recorded by the centre?</p></b> 
<a href="<%=  queries_abk_path  %>" class="btn btn-dark btn-xs active" role="button" aria-pressed="true" style="font-family:serif;">Click here!</a>
<br>  
     <b><p style="font-family:georgia"> 6. Want to know the plots and subplots cultivated with grass accross time?</p></b> 
<a href="<%=  queries_abm_path  %>" class="btn btn-dark btn-xs active" role="button" aria-pressed="true" style="font-family:serif;">Click here!</a>
<br>  
    </div>
    
    
</div>