<%= form_with(model: grass, local: true) do |form| %>
  <% if grass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grass.errors.count, "error") %> prohibited this grass from being saved:</h2>

      <ul>
      <% grass.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :grass_id %>
    <%= form.text_field :grass_id %>
  </div>

  <div class="field">
    <%= form.label :grass_type %>
    <%= form.text_field :grass_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
