<p id="notice"><%= notice %></p>

<p>
  <strong>Grass allocation:</strong>
  <%= @grass_allocation.grass_allocation_id %>
</p>

<p>
  <strong>Grass:</strong>
  <%= @grass_allocation.grass_id %>
</p>

<p>
  <strong>Plotsubplot:</strong>
  <%= @grass_allocation.plotsubplot_id %>
</p>

<p>
  <strong>Year observation:</strong>
  <%= @grass_allocation.year_observation %>
</p>

<p>
  <strong>Percentage 100 dm gm1:</strong>
  <%= @grass_allocation.percentage_100_dm_gm1 %>
</p>

<p>
  <strong>Percentage 100 dm gm2:</strong>
  <%= @grass_allocation.percentage_100_dm_gm2 %>
</p>

<p>
  <strong>Percentage 100 dm gm3:</strong>
  <%= @grass_allocation.percentage_100_dm_gm3 %>
</p>

<p>
  <strong>Percentage 100 dm gm4:</strong>
  <%= @grass_allocation.percentage_100_dm_gm4 %>
</p>

<p>
  <strong>Percentage 100 dm gm5:</strong>
  <%= @grass_allocation.percentage_100_dm_gm5 %>
</p>

<p>
  <strong>Percentage 100 dm gm6:</strong>
  <%= @grass_allocation.percentage_100_dm_gm6 %>
</p>

<p>
  <strong>Percentage 100 dm silage1:</strong>
  <%= @grass_allocation.percentage_100_dm_silage1 %>
</p>

<p>
  <strong>Percentage 100 dm silage2:</strong>
  <%= @grass_allocation.percentage_100_dm_silage2 %>
</p>

<p>
  <strong>D value 1:</strong>
  <%= @grass_allocation.d_value_1 %>
</p>

<p>
  <strong>D value 2:</strong>
  <%= @grass_allocation.d_value_2 %>
</p>

<p>
  <strong>Me 1:</strong>
  <%= @grass_allocation.me_1 %>
</p>

<p>
  <strong>Me 2:</strong>
  <%= @grass_allocation.me_2 %>
</p>

<p>
  <strong>lugd:</strong>
  <%= @grass_allocation.lugd %>
</p>

<p>
  <strong>percentage_prg_a:</strong>
  <%= @grass_allocation.percentage_prg_a %>
</p>

<p>
  <strong>percentage_tim_a:</strong>
  <%= @grass_allocation.percentage_tim_a %>
</p>
<p>
  <strong>percentage_wc_a:</strong>
  <%= @grass_allocation.percentage_wc_a %>
</p>

<p>
  <strong>percentage_tug_a:</strong>
  <%= @grass_allocation.percentage_tug_a %>
</p>

<p>
  <strong>percentage_tw_a:</strong>
  <%= @grass_allocation.percentage_tw_a %>
</p>

<p>
  <strong>ph:</strong>
  <%= @grass_allocation.ph %>
</p>

<p>
  <strong>p:</strong>
  <%= @grass_allocation.p %>
</p>

<p>
  <strong>k:</strong>
  <%= @grass_allocation.k %>
</p>

<p>
  <strong>mg:</strong>
  <%= @grass_allocation.mg %>
</p>
<p>
  <strong>om:</strong>
  <%= @grass_allocation.om %>
</p>

<p>
  <strong>replication:</strong>
  <%= @grass_allocation.replication %>
</p>

<p>
  <strong>rotation:</strong>
  <%= @grass_allocation.rotation %>
</p>

<%= link_to 'Edit', edit_grass_allocation_path(@grass_allocation) %> |
<%= link_to 'Back', grass_allocations_path %>
