<p id="notice"><%= notice %></p>

<p>
  <strong>Tuberose allocation:</strong>
  <%= @tuberose_allocation.tuberose_allocation_id %>
</p>

<p>
  <strong>Tuberose:</strong>
  <%= @tuberose_allocation.tuberose_id %>
</p>

<p>
  <strong>Plotsubplot:</strong>
  <%= @tuberose_allocation.plotsubplot_id %>
</p>

<p>
  <strong>Year observation:</strong>
  <%= @tuberose_allocation.year_observation %>
</p>

<p>
  <strong>Swede and pots fwt:</strong>
  <%= @tuberose_allocation.swede_and_pots_fwt %>
</p>

<p>
  <strong>Percentage root dm:</strong>
  <%= @tuberose_allocation.percentage_root_dm %>
</p>

<p>
  <strong>Percentage 100 dm swede leaf dm y:</strong>
  <%= @tuberose_allocation.percentage_100_dm_swede_leaf_dm_y %>
</p>

<p>
  <strong>Percentage crop s:</strong>
  <%= @tuberose_allocation.percentage_crop_s %>
</p>

<p>
  <strong>Percentage root s:</strong>
  <%= @tuberose_allocation.percentage_root_s %>
</p>

<p>
  <strong>Percentage tug s:</strong>
  <%= @tuberose_allocation.percentage_tug_s %>
</p>

<p>
  <strong>Percentage tw s:</strong>
  <%= @tuberose_allocation.percentage_tw_s %>
</p>

<p>
  <strong>Percentage tug a:</strong>
  <%= @tuberose_allocation.percentage_tug_a %>
</p>

<p>
  <strong>Percentage tw a:</strong>
  <%= @tuberose_allocation.percentage_tw_a %>
</p>

<p>
  <strong>Ph:</strong>
  <%= @tuberose_allocation.ph %>
</p>

<p>
  <strong>P:</strong>
  <%= @tuberose_allocation.p %>
</p>

<p>
  <strong>K:</strong>
  <%= @tuberose_allocation.k %>
</p>

<p>
  <strong>Mg:</strong>
  <%= @tuberose_allocation.mg %>
</p>

<p>
  <strong>Om:</strong>
  <%= @tuberose_allocation.om %>
</p>

<p>
  <strong>Replication:</strong>
  <%= @tuberose_allocation.replication %>
</p>

<p>
  <strong>Rotation:</strong>
  <%= @tuberose_allocation.rotation %>
</p>

<%= link_to 'Edit', edit_tuberose_allocation_path(@tuberose_allocation) %> |
<%= link_to 'Back', tuberose_allocations_path %>
