<p id="notice"><%= notice %></p>

<h2 style = "font-family: Helvetica;">Tuberoses</h2>

<!-- The following code was based on a video found on www.driftingruby.com/episodes/importing-and-exporting-csv-data -->

<%= link_to "Export CSV", tuberoses_url(format: :csv), class: 'btn btn-primary' %> 
<%= link_to 'New Tuberose', new_tuberose_path, class: "btn btn-success" %>

<table>
  <thead>
    <tr>
      <th style = "font-family: Helvetica;">Tuberose</th>
      <th style = "font-family: Helvetica;">Tuberose type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tuberoses.each do |tuberose| %>
      <tr>
        <td><%= tuberose.tuberose_id %></td>
        <td><%= tuberose.tuberose_type %></td>
        <td><%= link_to 'Show', tuberose, class: 'btn btn-secondary' %></td>
        <td><%= link_to 'Edit', edit_tuberose_path(tuberose), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', tuberose_path(tuberose), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Tuberose', new_tuberose_path, class: "btn btn-success" %>
